.text-size {
  font-size: 2rem;
}
.text-error {
  font-size: 2rem;
  color: red;
}
.bob {
  background-color: yellow;
  color: black;
}
.patrick {
  background-color: rgb(245, 28, 118);
}
